{% for task in tasks %}
{%- set task_key = task.description|to_python_identifier|truncate_identifier(30) %}
{{task_key}}_task:
  description: >
    {{task.description}}
  expected_output: >
    {{task.expected_output}}
  agent: {{task.agent|to_python_identifier}}
{%- if task.tools %}
  tools:
{%- for tool in task.tools %}
    - {{tool}}
{%- endfor %}
{%- endif %}
{%- if task.output_file %}
  output_file: {{task.output_file}}
{%- endif %}

{% endfor %}